.Header {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#272c69+0,5d2a7c+100 */
    background: #272c69; /* Old browsers */
    background: -moz-linear-gradient(top,  #272c69 0%, #5d2a7c 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #272c69 0%,#5d2a7c 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #272c69 0%,#5d2a7c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#272c69', endColorstr='#5d2a7c',GradientType=0 ); /* IE6-9 */

    margin: 0;
}
