.Intro {
    padding: 105px 0 105px 15px;
    max-width: 100%;
}

.Intro_content {
    padding: 95px 0;
}

.Intro_content h1 {
    color: #fff;
    margin-bottom: 30px;
}

.Intro_content input[type="email"] {
    border: none;
    padding: 9px 10px;
    border-radius: 6px 0 0 6px;
    font-size: 12px;
    min-width: 60%;
}

.Intro_content .btn {
    border: none;
    border-radius: 0 6px 6px 0;
    background: #49c3cf;
    color: #fff;
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 11px;
    max-width: 39%;
    margin-top: -1px;
}

.Intro_image {
    padding-right: 0;
}

@media (max-width: 767px) {
    .Intro {
        padding: 45px 0 45px 15px;
    }

    .Intro_content {
        padding: 0 0 100px;
        text-align: center !important;
    }
}
