.SaleTerms.grey_bg {
    padding: 120px 0 100px !important;
}
.SaleTerms img {
    max-width: 330px;
}

.SaleTerms h1 {
    position: relative;
    margin: 0 auto 85px;
    font-weight: 300;
}

.SaleTerms h1::after {
    content: " ";
    display: block;
    width: 40px;
    height: 1px;
    background: #272c69;
    position: relative;
    top: 25px;
    left: calc(50% - 20px);
}

.SaleTerms h2 {
  font-weight: 400;
}

.SaleTerms p {
    font-size: 18px;
    margin: 0 0 30px;
}
.SaleTerms ul {
    margin-bottom: 30px;
    margin-top: -20px;
}
.SaleTerms li {
    font-size: 16px;
}

@media (max-width: 768px) {
  .SaleTerms .pie {
      margin-bottom: 60px;
  }
}
