.Section {
    padding: 80px 15px !important;
}

.Section p {
    margin: 30px auto;
}

.Section h1 {
    position: relative;
    margin: 30px auto 50px;
}

.Section h1:after {
    content: " ";
    display: block;
    width: 40px;
    height: 1px;
    background: #272c69;
    position: relative;
    top: 25px;
    left: 0;
}

.Solution button {
    border: none;
    border-radius: 6px;
    background: #49c3cf;
    color: #fff;
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 11px;
    margin-top: 20px;
}

@media (max-width: 1024px) {
    .Section {
        padding: 45px 15px !important;
    }
}

@media (max-width: 1023px) {
    .Solution {
        padding: 0 0 45px !important;
    }

    .Solution h1 {
        margin-top: 50px;
    }
}


.Performers {
    padding: 140px 0 !important;
}

.Performers h1 {
    position: relative;
    margin: 30px auto 50px;
}

.Performers h1:after {
    content: " ";
    display: block;
    width: 40px;
    height: 1px;
    background: #272c69;
    position: relative;
    top: 25px;
    left: 0;
}

.Section.Tokens {
    padding: 0 !important;
}

@media (max-width: 1023px) {
    .Performers h1 {
        margin-top: 0;
    }
}

@media (max-width: 767px) {
    .Performers {
        padding: 0 !important;
        display: flex;
        flex-direction: column-reverse;
    }

    .Performers > div {
        margin: 45px auto 0;
    }

    .Performers > div:first-child {
        margin-bottom: 45px;
    }
}

@media (max-width: 479px) {
    .Section {
        padding: 15px !important;
    }
    .Section p {
        margin: 15px auto;
    }
    .Section img {
        margin: 15px auto;
    }
    .grey_bg {
        padding: 50px 15px !important;
    }
}
