.Team2 {
    margin: 0 auto;
    padding: 140px 0 !important;
}

.Team2 .member {
    text-align: left;
    padding: 30px 0;
    float: none;
    display: inline-block;
    vertical-align: top;
}

.Team2 .member img {
    margin-bottom: 10px;
}

.Team2 .member p {
    margin: 0 auto;
    padding: 0;
    display: block;
}
.Team2 .member .bio p {
    margin: 0 auto 15px;
}

.Team2 h1 {
    position: relative;
    margin: 0 auto 50px;
}

.Team2 h1::after {
    content: " ";
    display: block;
    width: 40px;
    height: 1px;
    background: #272c69;
    position: relative;
    top: 25px;
    left: calc(50% - 20px);
}

@media (max-width: 1024px) {
    .Team2 .col-md-offset-2 {
        margin-left: 0 !important;
    }
    .Team2 .bio {
        width: 66.6%;
    }
}

@media (max-width: 768px) {
    .Team2 {
        padding: 45px 0 !important;
    }

    .Team2 .member {
        text-align: center;
    }
    .Team2 .member > div {
        width: 100%;
        text-align: center;
    }
    .Team2 h1 {
        text-align: center;
    }

    .Team2 img {
        margin: 0 auto;
    }
}
