.Terms.grey_bg {
    padding: 120px 0 100px !important;
}
.Terms img {
    max-width: 330px;
}

.Terms h1 {
    position: relative;
    margin: 0 auto 85px;
    font-weight: 300;
}

.Terms h2 {
    font-weight: 400;
}

.Terms h1::after {
    content: " ";
    display: block;
    width: 40px;
    height: 1px;
    background: #272c69;
    position: relative;
    top: 25px;
    left: calc(50% - 20px);
}

.Terms p {
    font-size: 18px;
    margin: 0 0 30px;
}
.Terms ul {
    margin-bottom: 30px;
    margin-top: -20px;
}
.Terms li {
    font-size: 16px;
}


.Terms.Terms2.grey_bg {
    padding: 70px auto;
}


.Terms3 .container {
    max-width: 970px;
    width: 100%;
}
.Terms3 img {
    max-width: 220px;
    max-height: 75px;
    vertical-align: middle;
    margin: 15px 30px;
}
